<div class="container">
    <div class="QuestionContainer">
    
    <div class="card">
      <div class="card-body">
        <h2 id="form-name"></h2>
        <h3>description:</h3>
        <h3 class="text-body-secondary" id="form-description"></h3>
      </div>
    </div>
    
    
    
    <div class="card" >
      <div class="card-body ">
        <h5 class="card-title">About</h5>
      </div>
      <div class="card-body">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control border-secondary" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">it is not nessary,if you want the responce to send email</div>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control border-secondary" id="name">
      </div>
    
    </div>
    
    </div>
    
      <div class="button-container">
        <button type="button" class="btn btn-outline-primary" onclick="cleatdata()">clear form</button>
        <button type="button" class="btn btn-success" onclick="submit()">Submit</button>
      </div>
    
    </div>